@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Playfair+Display:wght@800&family=Poppins:wght@400;600;700&display=swap");

$Nunito: "Nunito", sans-serif;
$Playfair: "Playfair Display", serif;
$Poppins: "Poppins", sans-serif;
// c o l o r s
$Dark: rgb(63, 33, 0);
$Light: rgb(255, 235, 235);
$Pink: rgb(255, 229, 225);
$White: rgb(255, 255, 255);
// Media breakpoint
$breakpoint: 900px;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $Pink;
}

@media screen and (max-width: $breakpoint) {
}
