.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  padding: 0 0 200px 0;
  img {
    max-width: 250px;
  }

  .hello {
    font-family: $Nunito;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
  }
  .text {
    font-family: $Nunito;
    font-size: 20px;
    max-width: 450px;
  }
}

@media screen and (max-width: $breakpoint) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 0 0 100px 0;

    img {
      max-width: 200px;
      margin: 0 0 50px 0;
    }

    .hello {
      font-family: $Nunito;
      font-weight: 700;
      padding: 10px 0;
    }
    .text {
      font-family: $Nunito;
      font-size: 16px;
      font-weight: 600;
      max-width: 400px;
      padding: 10px 0;
    }
  }
}
