.projects {
  width: 100%;
  max-width: 1000px;
  margin: 0 0 100px 0;
}

.projectsasset {
  max-width: 250px;
  transform: translateY(-70%);
}

.project {
  display: flex;
  flex-direction: column;
  margin: 75px 10px;
  width: 100%;
  max-width: 600px;

  img {
    width: 100%;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__headtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0 25px 0;
  }
  &__title {
    font-size: 33px;
    font-family: $Nunito;
    font-weight: bold;
    color: $Dark;
  }
  &__stack {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      background-color: $Light;
      padding: 2px 6px;
      margin: 0 5px;
      border-radius: 8px;
      font-size: 12px;
      font-family: $Nunito;
      font-weight: 600;
      color: lighten($color: $Dark, $amount: 30);
    }
  }
  &__text {
    font-family: $Nunito;
    font-size: 16px;
    color: $Dark;
    opacity: 0.8;
    font-weight: 600;
    line-height: 1.4;
  }

  &__btn {
    max-width: 100px;
    padding: 5px;
    background: transparent;
    border: 2px solid $Dark;
    border-radius: 5px;
    margin: 15px 0 0 0;
    transition: 400ms;
    a {
      text-decoration: none;
      font-family: $Nunito;
      font-weight: bold;
      font-size: 14px;
      color: $Dark;
    }

    &:hover {
      background: $Light;
      transform: scale(1.1);

      a {
        color: $Dark;
      }
    }
  }
}

@media screen and (max-width: $breakpoint) {
  .projectsasset {
    max-width: 200px;
    transform: translateY(-75%);
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project {
    transform: scale(0.85);
    margin: 75px 0;

    &__title {
      font-size: 30px;
    }
  }
}
